@using App_Dominio.Security;
@using App_Dominio.Entidades;
@using App_Dominio.Repositories;
@{
    EmpresaSecurity<App_DominioContext> security = new EmpresaSecurity<App_DominioContext>();
    IEnumerable<TransacaoRepository> menuList = security.getUsuarioTransacao();
}

@if (menuList != null)
{
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">NAVEGAÇÃO</li>
        @foreach (TransacaoRepository t in menuList.Where(info => info.transacaoId_pai == null && info.referencia == "Barra de Menu" && info.exibir == "S"))
        {
            if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == t.url.Split('/')[0])
            {
                <li class="active">
                    <a href="~/@t.url"><i class="fa @t.glyph"></i> <span>@t.nomeCurto</span></a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/@t.url"><i class="fa @t.glyph"></i> <span>@t.nomeCurto</span></a>
                </li>
            }
        }
    </ul>
}